html {
    font-size: 20px;
}

body {
    height: 125vh;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    overflow: hidden;

}

header * {
    display: flex;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    vertical-align:middle;
    overflow: hidden;

}

#navitems-left{
    font-size: 18px;
    float: left;
    padding: 10px;
}

#navitems-right{
    font-size: 18px;
    float: right;
    padding: 10px;
}

#creatorconnect {
    font-size: 30px;
    vertical-align:middle;
}