body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar a{
  color: white;
  padding:30px;
  text-align:center;
  text-decoration: none;
  font-size:30px;
  display:inline-block;
  justify-content:center;
  box-shadow: 0 0 25px 0 black;
}

.navbar ul{
  list-style-type: none;
  background-color:rgb(44, 44, 44);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar li{
  float:left;
}


